
<style>
    .blog_summary_div
    {
        margin:2px;
        border:1px solid #B00100;
        padding: 4px;
    }

</style>
<div style="margin-bottom:10px">
<%= render :partial => "blog", :locals=>{:blog=>@blog} %>
</div>

<%=link_to "回到博客列表" ,blogs_path %>